@{
    ViewData["Title"] = "Resultado da " + @ViewBag.OPERACAO;
}

<h1>Resultado da @ViewBag.OPERACAO</h1>
<p>@ViewBag.OPERACAO de @ViewBag.N1 @ViewBag.SIMBOLO @ViewBag.N2 é igual a @ViewBag.Resultado</p>
